
.add-product-wrapper {
  background: linear-gradient(135deg, #f0f4f8, #e1ecf4);
  background-image: url('path_to_your_image.jpg'); 
  background-size: cover;
  background-position: center;
  min-height: 80vh; 
  display: flex;
  justify-content: center;
  align-items: center;
}


.add-product-card {
  padding: 2rem;
  background-color: #fff; 
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  width: 100%;
  
}

.add-product-card h2 {
  color: #333;
  text-align: center;
  margin-bottom: 1.5rem;
  font-weight: bold;
}
